@font-face {
    font-family: "Norse-Bold";
    src: url("fonts/Norse-Bold.otf");
} 

* {
    padding: 0;
    margin: 0;
    border: 0;

    box-sizing: border-box;
}

body {
    display: flex;
}

.sidebar {
    background-image: url("images/unsplash-leaf.jpeg");
    height: 100vh;
    flex: 0 0 35vw;

    background-position-x: center;
    background-size: cover;
}

.banner {
    display: flex;
    flex-wrap: wrap;

    position: relative;
    top: 200px;

    justify-content: center;
    align-items: center;

    background-color: rgba(0, 0, 0, 0.4);
    padding: 20px;
}

.banner img {
    width: 7vw;
    height: auto;
}

.title {
    font-size: 4vw;
    font-family:'Norse-Bold', Courier, monospace;

    color: aliceblue;
    align-self: center;
}

.main {
    background-color: aliceblue;
    padding: 50px;
}

.heading, .sign-up, .footer {
    padding: 10px;
}

.sign-up h3 {
    padding: 10px;
    padding-left: 5px;
}

fieldset{
    display: flex;
    padding: 5px;
}

.input-contain {
    display: flex;
    flex-direction: column;
}

input:invalid {
    border: 2px red solid;
}

input:valid {
    border: 2px green solid;
}

